* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(244,249,253);
  font-family: 'Noto Sans', sans-serif;
  color: #2f4054;
}

.header-top {
  padding: 1.2%;
  width: 100%;
  height: 55px;
  background-color:rgb(244,249,253);
  position: fixed;
  top: 0;
  border-bottom: 1px solid #667688;
}

.top-left {
  width: 70%;
  margin: auto;
  position: relative;
}

.top-right {
  padding:2px;
  position: absolute;
  right: 0;
  top: 0;
}

.fas.fa-search {
  font-size: 10px;
  color: rgb(38,187,166);
  padding-right: 15px;
}

.button {
  text-decoration: none;
  background-color: #ff7a59;
  border-radius: 3px;
  font-size: 12px;
  color: white;
  display: inline-block;
}

.top-right .button {
  padding: 4px;
  margin-left: 15px;
}

.btn-white {
  font-size: 12px;
  background-color: white;
  color: #ff7a59;
  border: 1px solid #ff7a59;
}

ul {
  list-style: none;
  padding-top:2px;
  display: inline-block;
}

ul#head li {
  color: #667688;
  display: inline-block;
  padding-right: 5px;
  font-size: 13px;
}

ul#head li:last-child{
  border-left: 1px solid black;
  padding-left:5px;
}

li  a {
  text-decoration: none;
  color: black;
}

ul#menu li {
  line-height: 50px;
  border-right: 0px;
  display: inline-block;
  padding-left: 15px;
  font-size: 10px;
}


.header-nav{
  width: 100%;
  height: 55px;
  background-color: white;
  margin: auto;
  margin-top: 55px;
}

.nav-left {
  width: 70%;
  height: 100%;
  margin: auto;
  position: relative;
  top:5px;
}

.nav-left > img {
  height: 35px;
  padding-left: 5px;
  padding-top: 10px;
}

.nav-right {
  position: absolute;
  right: 0;
  top: 0;
}

.header-middle {
  width: 100%;
  height: 500px;
  background-color: #FFF2ED;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-position: center;
}
/* mettere img in html e modificare dimensioni */

.jumbobox {
  width: 70%;
  margin: auto;
  height: 300px;
  position: relative;
  top:50px;
}

.jumbotext {
  width: 42%;
}

.jumbotext h1 {
   font-size:36px;
   font-weight: 500px;
   margin-bottom: 20px;

  }

.jumbotext p {
  margin-bottom: 20px;
  }

.jumbotext .button {
  font-size: 10px;
  font-weight: bold;
  padding: 15px 30px;
  margin-bottom: 20px;
  }


.header-bottom {
  width: 100%;
  height: 55px;
  background-color: #92E3DA;
  border-top:1px solid black;
  border-bottom: 1px solid black;
}

.main-container{
   margin: auto;
   width: 100%;

}

main section{
  width: 60%;
  margin: auto;
}

main section::after {
   content: "";
   display: table;
   clear: both;
}

#horiz-box-up {
  width: 58%;
  height: 250px;
  background-color:rgb(244,249,253);
  text-align: center;
  margin: auto;
}

.integrations img {
  height: 85px;
  margin-top: 30px;
}

.integrations h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

p {
  color: #667688;
  font-size: 11px;
  line-height: 18px;
}

.horiz-box {
  width: 100%;
  height: 240px;
  background-color: white;
  margin-bottom: 5px;
}

.horiz-box .logo-horiz-box {
  height: 100%;
  width: 30%;
  float: left;
  position: relative;
}

.logo-horiz-box img {
  height: 80px;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-80%);
}

.logo-horiz-box .button {
  font-size: 10px;
  font-weight: bold;
  padding: 12px 25px;
  position: absolute;
  top:65%;
  left: 30%;
}

.learn-button{
  font-size: 10px;
  font-weight: bold;
  padding: 12px 25px;
  display: inline-block;
  margin-top: 30px;

  }
.text-horiz-box {
  width: 67.5%;
  height: 100%;
  float: right;
}

.text-horiz-box h3 {
  font-size: 18px;
  margin-top: 35px;
  padding-bottom: 15px;
}

.text-horiz-box p {
  margin-right: 30%;
}

 h4 {
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 10px;
  display: inline-block;
}

.text-horiz-box hr {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 35px;
}

.fa-check-circle{
  color: #ff7a59;
  font-size: 10px;
}

#feature-list li {
  border-right: 0px;
  padding-right: 15px;
  font-size: 10px;
}

#feature-list i {
  padding-right: 2px;
}

.vert-col {
  width: 30%;
  height: 430px;
  background-color: white;
  margin-top: 10px;
  margin-right: 5%;
  text-align: center;
  float: left;
}

#third-col{
  margin-right: 0px;
}

.box-logo > img {
  height: 80px;
  margin-top: 20px;

}
.box-logo p {
  padding-left:15px;
  padding-right: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 35px;
}

 .box-logo hr {
   width: 80%;
   margin-left: 25px;
 }

.vert-col li {
  font-size: 10px;
  text-align: left;
  margin-right: 80px;
  line-height: 0px;
}

main i {
  padding-right: 8px;
}

main section:last-child {
  width: 100%
}

.azure-box {
  width: 100%;
  height: 300px;
  background-color: #00C0FF;
  margin-top: 10px;
}

.white-box {
  width: 100%;
  height: 300px;
  background-color: white;
}

footer {
  width: 100%;
  height: 300px;
  background-color: #0060A0;
}
