* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(244,249,253);
  font-family: 'Noto Sans', sans-serif;
  color: #2f4054;
}

.header-top {
  padding: 1.2%;
  width: 100%;
  height: 55px;
  background-color:rgb(244,249,253);
  position:fixed;
  top: 0;
  border-bottom: 1px solid #667688;
}

.top-left {
  width: 70%;
  margin: auto;
  position: relative;
}

.top-right {
  position: absolute;
  right: 0;
  top: 0;
}

.fas.fa-search {
  font-size: 10px;
  color: rgb(38,187,166);
  padding-right: 15px;
}

.button {
  text-decoration: none;
  background-color: #ff7a59;
  border-radius: 3px;
  font-size: 12px;
  color: white;
  display: inline-block;
}

.top-right .button {
  padding: 4px;
  margin-left: 15px;
}

.btn-white {
  font-size: 12px;
  background-color: white;
  color: #ff7a59;
  border: 1px solid #ff7a59;
}

ul {
  list-style: none;
  display: inline-block;
}

ul#head li {
  color: #667688;
  display: inline-block;
  padding-right: 5px;
  font-size: 13px;
}

ul#head li:last-child{
  border-left: 1px solid black;
  padding-left:5px;
}

li  a {
  text-decoration: none;
  color: black;
}

ul#menu li {
  line-height: 50px;
  border-right: 0px;
  display: inline-block;
  padding-left: 15px;
  font-size: 10px;
}

.header-nav{
  width: 100%;
  height: 55px;
  background-color: white;
  margin-top: 55px;
}

.nav-left {
  width: 70%;
  margin: auto;
  position: relative;
  top:2px;
}

.nav-left > img {
  height: 35px;
  padding-left: 5px;
  padding-top: 10px;
}

.nav-right {
  position: absolute;
  right: 0;
  top: 0;
}

.header-middle {
  width: 100%;
  height: 500px;
  background-color: #FFF2ED;
  background-image: url(../img/jumbotron.png);
  background-size: cover;
  background-position: center;
}
/* mettere img in html e modificare dimensioni */

.jumbobox {
  width: 70%;
  margin: auto;
  height: 300px;
  position: relative;
  top:50px;
}

.jumbotext {
  width: 42%;
}

.jumbotext h1 {
  font-size:36px;
  font-weight: 400px;
  margin-bottom: 20px;
}

.jumbotext p {
  margin-bottom: 20px;
}

.gethub {
  font-size: 10px;
  font-weight: bold;
  padding: 15px 30px;
  margin-bottom: 20px;
}

.header-bottom {
  width: 100%;
  height: 55px;
  background-color: #92E3DA;
  border-top:1px solid black;
  border-bottom: 1px solid black;
}

.container70 {
  margin: auto;
  width: 70%;
}

main section::after {
  content: "";
  display: table;
  clear: both;
}

#horiz-box-up {
  width: 58%;
  height: 250px;
  background-color:rgb(244,249,253);
  text-align: center;
  margin: auto;
  margin-bottom: 15px;
}

.integrations img {
  height: 85px;
  margin-top: 30px;
}

.integrations h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

p {
  color: #667688;
  font-size: 12px;
  line-height: 18px;
}

.horiz-box {
  width: 100%;
  height: 250px;
  background-color: white;
  margin-bottom: 5px;
}

.horiz-box .logo-horiz-box {

  width: 30%;
  float: left;
  position: relative;
  top: 60px;
  left: 80px;
}

.logo-horiz-box img {
  height: 80px;
  display: block;
  margin-bottom: 20px;
}

.logo-horiz-box .button {
  font-size: 10px;
  font-weight: bold;
  padding: 12px 25px;
  float: left;
}

.learn-button{
  font-size: 10px;
  font-weight: bold;
  padding: 12px 25px;
  display: inline-block;
  margin-top: 30px;
}

.text-horiz-box {
  width: 67.5%;
  float: right;
}

.text-horiz-box h3 {
  font-size: 18px;
  margin-top: 35px;
  padding-bottom: 15px;
}

.text-horiz-box p {
  margin-right: 30%;
}

 h4 {
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 20px;
  display: inline-block;
}

.text-horiz-box hr {
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 35px;
}

.fa-check-circle{
  color: #ff7a59;
  font-size: 10px;
}

#feature-list li {
  border-right: 0px;
  padding-right: 15px;
  font-size: 10px;
}

#feature-list i {
  padding-right: 2px;
}

.vert-col {
  width: 30%;
  height: 430px;
  background-color: white;
  margin-top: 10px;
  margin-right: 5%;
  text-align: center;
  float: left;
}

#third-col{
  margin-right: 0px;
}

.box-logo > img {
  height: 80px;
  margin-top: 20px;

}
.box-logo p {
  padding-left:15px;
  padding-right: 15px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 35px;
}

 .box-logo hr {
  width: 80%;
  margin-left: 25px;
 }

.vert-col li {
  font-size: 10px;
  text-align: left;
  margin-right: 80px;
  line-height: 0px;
}

main i {
  padding-right: 8px;
}

.azure-box {
  width: 100%;
  height: 500px;
  margin: auto;
  background: linear-gradient(to right, #00ABB6 ,#00BDA5);
  margin-top: 30px;
}

#azure-box-up {
  width: 70%;
  margin: auto;
  text-align: center;
}

#azure-box-up h2 {
  color: white;
  padding: 50px 20px;
  font-size: 20px;
}

#azure-box-up p {
  color: white;
}

#azure-box-down {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

#box-four{
  border-right: 0px;
}

.grid-box img{
  height: 25px;
  margin-top: 10px;
}

.numbers h2 {
  color: white;
  font-size: 26px;
  display: inline-block;
  text-transform: uppercase;
}

.numbers span {
  color: white;
  font-size: 12px;
  vertical-align: super;
}

.text p {
  color:white;
  font-size: 8px;
  margin-bottom: 15px;
}

.grid-box {
  width: 25%;
  float: left;
  border-right: 1px solid white;
}

.grid-box-down {
  display: block;
  width: 100%;
  border-top: 1px solid white;
}

.white-box {
  width: 100%;
  height: 500px;
  background-color: white;
}

#white-box {
  width: 70%;
  margin: auto;
}

#white-box-left {
  width: 40%;
  float: left;
}

#white-box-right{
  width: 50%;
  float: left;
}

#white-box-left-up {
  width: 40%;
  margin: 10% ;
}
#white-box-left-up h2{
  font-size: 32px;

}
#white-box-left-down{
  width: 100%;
}

#white-box-left p {
  padding-top: 20px;
  margin-bottom: 20px;
}

#logos-box {
  margin-top: 32px;

}
.logos img {
  width: 20%;
  height: auto;
  padding-right: 22px;
  margin-bottom: 15px;
}

#purple, #subaru ,#crowd, #classpass, #vmware {
  margin-bottom: 0;
}

#crowd, #vmware {
  vertical-align: super;
}

#purple {
  vertical-align: sub;
}

#wistia {
  vertical-align: bottom;
}

.picture-box {
  width: 100%;
}
.picture-box img {
  width: 50%;
  height: auto;
  float: right;
  margin-top: 8%;
}

footer {
  width: 100%;
  height: 500px;
  color: #CBD6E2;
  background-color: #2D3F51;
}

.footer-top {
  width: 70%;
  height: 70%;
  margin: auto;
}

.list-box {
  width: 25%;
  margin-top: 25px;
  padding-right: 10px;
  float: left;
}

.list-box h5 {
  margin-bottom: 22px;
  color: White;
  font-size: 16px;
}

.footer-top li {
  font-size: 14px;

  line-height: 32px;
}

.list-box .button {
  background-color: #CBD6E2;
  color: #2D3F51;
  padding: 8px 10px;
  margin-top: 12px;
}

.icons-row i {
  margin-top: 18px;
  font-size: 16px;

  padding-right: 15px;
}
.footer-bottom {
  width: 70%;
  height: 30%;
  margin: auto;
  border: 1px solid black;
}

.languages {
   width: 100%;
  text-align: center;
}

.languages li {
  font-size: 14px;
  display: inline-block;
  padding-right: 15px;
}
